# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Angular
/dist/
/out-tsc/
/tmp/

# IDE specific files
/.idea/
/.vscode/

# System Files
.DS_Store
Thumbs.db

# Environment Files
.env
.env.local

# Logs
*.log

# Compiled TypeScript
*.tsbuildinfo

# Generated Angular build files
.angular/

# Temporary files
*.tmp
*.bak

# Miscellaneous
coverage/
