/* home.component.css */
.home-container {
  text-align: center;
  padding: 20px;
}

  
  .home-container h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .home-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .navigation-links {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  